@page
@model WebLayer.Pages.Users.AdminModel
@{

}
<div class="container">
    <br />
    <div class="row">
        <form>
            <p>
                <div class="col l2">

            <select asp-for="SelectCat" asp-items="Model.Catagories">
                <option value="">Kategori</option>
            </select>
                    <select asp-for="SelectSet" asp-items="Model.Sets">
                        <option value="">Set</option>
                    </select>
                </div>
                <div class="input-field col l6">
                    <input id="icon_title" type="text" class="validate" asp-for="SearchString">
                    <label for="icon_title">Søg på titel</label>
                    <input class="waves-effect waves-light btn view right" type="submit" value="Filter" />
                </div>
            </p>
        </form>
        <a class="waves-effect waves-light btn view col l2 right" onclick="$('#modal1').modal('open');">Opret Product</a>
    </div>
    <br />
    <table class="striped highlight">
        <thead>
            <tr>
                <th>Titel</th>
                <th>Beskrivelse</th>
                <th>Pris</th>
                <th>Brand</th>
                <th>Kategori</th>
                <th>Set</th>
                <th>Rediger</th>
                <th>Slet</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Products)
            {
                <form method="post">
                    <input hidden value="@item.ProductId" asp-for="ProductId">
                <tr>
                    <th>@item.Name</th>
                    <th>@item.Description</th>
                    <th>@item.Price</th>
                    <th>@item.Brand.Name</th>
                    <th>@item.Category.Name</th>
                    <th>@item.Fk_SetId</th>
                    <th>
                        <a class="btn waves-effect waves-light yellow darken-1" asp-page="/Products/UpdateProduct" asp-route-ProductId="@item.ProductId">
                            <i class="material-icons">edit</i>
                        </a>
                    </th>
                    <th>
                        <button class="btn waves-effect waves-light red darken-1" type="submit" name="action" asp-page-handler="Delete">
                            <i class="material-icons">delete</i>
                        </button>
                    </th>
                </tr>
                </form>
            }
        </tbody>
    </table>



    <div id="modal1" class="modal">
        <div class="modal-content">
            <div class="row">
                <h4 class="col">Opret product</h4>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat right col">Luk</a>
            </div>
            <form class="col s12" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">title</i>
                        <input id="icon_prefix" type="text" class="validate" asp-for="Product.Name">
                        <label for="icon_prefix">Title</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">description</i>
                        <input id="icon_lastname" type="text" class="validate" asp-for="Product.Description">
                        <label for="icon_lastname">Beskrivelse</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">attach_money</i>
                        <input id="icon_add" type="number" class="validate" asp-for="Product.Price">
                        <label for="icon_add">Pris</label>
                    </div>
                    <div class="input-field col s6">
                        <select asp-for="Product.Fk_SetId" asp-items="@Model.Sets" required>
                            <option value="">Valg</option>
                        </select>
                        <label>Set</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <select asp-for="Product.Fk_BrandId" asp-items="@Model.Brands" required>
                            <option value="">Valg</option>
                        </select>
                        <label>Brand</label>
                    </div>
                    <div class="input-field col s6">
                        <select asp-for="Product.Fk_CategoryId" asp-items="@Model.Catagories" required>
                            <option value="">Valg</option>
                        </select>
                        <label>Kategori</label>
                    </div>
                </div>
                <div class="row">

                    <div class="file-field input-field">
                        <div class="btn">
                            <span>File</span>
                            <input type="file" asp-for="UploadImage">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action" asp-page-handler="Create">
                    Opret
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#modal1').modal();
    });
    $(document).ready(function () {
        $('select').formSelect();
    });
</script>